In [3]:
%reload_ext autoreload
%autoreload 2
import sys,os,os.path
os.environ['HTTP_PROXY']="http://marcel.barros:Novomundo1%21@10.31.220.72:3128/"
os.environ['HTTPS_PROXY']="http://marcel.barros:Novomundo1%21@10.31.220.72:3128/"

In [4]:
from fastai.basics import *

# Rossmann

## Data preparation / Feature engineering

In addition to the provided data, we will be using external datasets put together by participants in the Kaggle competition. You can download all of them [here](http://files.fast.ai/part2/lesson14/rossmann.tgz). Then you shold untar them in the dirctory to which `PATH` is pointing below.

For completeness, the implementation used to put them together is included below.

In [8]:
PATH=Config().data_path()/Path('EURUSD/')
PATH

WindowsPath('C:/Users/marcel.barros/.fastai/data/EURUSD')

In [44]:

table_names = ['DAT_ASCII_EURUSD_M1_2018']
tables = [pd.read_csv(PATH/f'{fname}.csv',sep=';', low_memory=False,infer_datetime_format=True,header=None,names=['Timestamp','Open','High','Low','Close','Volume'],parse_dates=['Timestamp']) for fname in table_names]
train = tables[0]
len(train)

372607

In [45]:
train.head()

            Timestamp     Open     High      Low    Close  Volume
0 2018-01-01 17:00:00  1.20037  1.20100  1.20037  1.20100       0
1 2018-01-01 17:01:00  1.20083  1.20095  1.20017  1.20030       0
2 2018-01-01 17:02:00  1.20035  1.20043  1.20035  1.20043       0
3 2018-01-01 17:03:00  1.20041  1.20050  1.20031  1.20046       0
4 2018-01-01 17:04:00  1.20049  1.20049  1.20046  1.20048       0

In [46]:
train.drop(axis=1,columns=['Volume'],inplace=True)

We turn state Holidays to booleans, to make them more convenient for modeling. We can do calculations on pandas fields using notation very similar (often identical) to numpy.

In [47]:
train.head()

            Timestamp     Open     High      Low    Close
0 2018-01-01 17:00:00  1.20037  1.20100  1.20037  1.20100
1 2018-01-01 17:01:00  1.20083  1.20095  1.20017  1.20030
2 2018-01-01 17:02:00  1.20035  1.20043  1.20035  1.20043
3 2018-01-01 17:03:00  1.20041  1.20050  1.20031  1.20046
4 2018-01-01 17:04:00  1.20049  1.20049  1.20046  1.20048

In [48]:
train['Timestamp'].dt.hour

0         17
1         17
2         17
3         17
4         17
          ..
372602    16
372603    16
372604    16
372605    16
372606    16
Name: Timestamp, Length: 372607, dtype: int64

In [49]:
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

The following extracts particular date fields from a complete datetime for the purpose of constructing categoricals.

You should *always* consider this feature extraction step when working with date-time. Without expanding your date-time into these additional fields, you can't capture any trend/cyclical behavior as a function of time at any of these granularities. We'll add to every table with a date field.

In [50]:
def add_datepart(df, fldname, drop=True, time=False):
    "Helper function that adds columns relevant to a date."
    fld = df[fldname]
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: attr = attr + ['Hour', 'Minute', 'Second']
    for n in attr: df[targ_pre + n] = getattr(fld.dt, n.lower())
    df[targ_pre + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
    if drop: df.drop(fldname, axis=1, inplace=True)

In [54]:
add_datepart(train, "Timestamp", drop=False,time=True)

In [55]:
train.head()

,Timestamp,Open,High,Low,Close,TimestampYear,TimestampMonth,TimestampWeek,TimestampDay,TimestampDayofweek,...,TimestampIs_month_end,TimestampIs_month_start,TimestampIs_quarter_end,TimestampIs_quarter_start,TimestampIs_year_end,TimestampIs_year_start,TimestampElapsed,TimestampHour,TimestampMinute,TimestampSecond
0,2018-01-01 17:00:00,1.20037,1.20100,1.20037,1.20100,2018,1,1,1,0,...,False,True,False,True,False,True,1514826000,17,0,0
1,2018-01-01 17:01:00,1.20083,1.20095,1.20017,1.20030,2018,1,1,1,0,...,False,True,False,True,False,True,1514826060,17,1,0
2,2018-01-01 17:02:00,1.20035,1.20043,1.20035,1.20043,2018,1,1,1,0,...,False,True,False,True,False,True,1514826120,17,2,0
3,2018-01-01 17:03:00,1.20041,1.20050,1.20031,1.20046,2018,1,1,1,0,...,False,True,False,True,False,True,1514826180,17,3,0
4,2018-01-01 17:04:00,1.20049,1.20049,1.20046,1.20048,2018,1,1,1,0,...,False,True,False,True,False,True,1514826240,17,4,0

In [57]:
train.describe()

,Open,High,Low,Close,TimestampYear,TimestampMonth,TimestampWeek,TimestampDay,TimestampDayofweek,TimestampDayofyear,TimestampElapsed,TimestampHour,TimestampMinute,TimestampSecond
count,372607.000000,372607.000000,372607.000000,372607.000000,372607.0,372607.000000,372607.000000,372607.000000,372607.000000,372607.000000,3.726070e+05,372607.000000,372607.000000,372607.0
mean,1.181216,1.181300,1.181131,1.181215,2018.0,6.499564,26.445104,15.757262,2.117089,182.229258,1.530466e+09,11.492844,29.502113,0.0
std,0.036872,0.036877,0.036867,0.036872,0.0,3.434015,14.979753,8.770572,1.637133,104.887775,9.062278e+06,6.926875,17.320008,0.0
min,1.121650,1.121730,1.121540,1.121630,2018.0,1.000000,1.000000,1.000000,0.000000,1.000000,1.514826e+09,0.000000,0.000000,0.0
25%,1.152420,1.152490,1.152330,1.152415,2018.0,4.000000,13.000000,8.000000,1.000000,92.000000,1.522675e+09,5.000000,15.000000,0.0
50%,1.169210,1.169280,1.169130,1.169210,2018.0,7.000000,26.000000,16.000000,2.000000,183.000000,1.530528e+09,11.000000,30.000000,0.0
75%,1.223860,1.223950,1.223760,1.223855,2018.0,10.000000,39.000000,23.000000,3.000000,274.000000,1.538378e+09,18.000000,45.000000,0.0
max,1.255400,1.255500,1.255270,1.255410,2018.0,12.000000,52.000000,31.000000,6.000000,365.000000,1.546276e+09,23.000000,59.000000,0.0

In [63]:
train['Target']=train['Close'].shift(periods=-1)

In [64]:
train.head()

,Timestamp,Open,High,Low,Close,TimestampYear,TimestampMonth,TimestampWeek,TimestampDay,TimestampDayofweek,...,TimestampIs_month_start,TimestampIs_quarter_end,TimestampIs_quarter_start,TimestampIs_year_end,TimestampIs_year_start,TimestampElapsed,TimestampHour,TimestampMinute,TimestampSecond,Target
0,2018-01-01 17:00:00,1.20037,1.20100,1.20037,1.20100,2018,1,1,1,0,...,True,False,True,False,True,1514826000,17,0,0,1.20030
1,2018-01-01 17:01:00,1.20083,1.20095,1.20017,1.20030,2018,1,1,1,0,...,True,False,True,False,True,1514826060,17,1,0,1.20043
2,2018-01-01 17:02:00,1.20035,1.20043,1.20035,1.20043,2018,1,1,1,0,...,True,False,True,False,True,1514826120,17,2,0,1.20046
3,2018-01-01 17:03:00,1.20041,1.20050,1.20031,1.20046,2018,1,1,1,0,...,True,False,True,False,True,1514826180,17,3,0,1.20048
4,2018-01-01 17:04:00,1.20049,1.20049,1.20046,1.20048,2018,1,1,1,0,...,True,False,True,False,True,1514826240,17,4,0,1.20048

In [58]:
#joined.to_pickle(PATH/'joined')
#joined_test.to_pickle(PATH/'joined_test')

SyntaxError: invalid syntax (<ipython-input-58-4a7a8b4f982c>, line 1)

In [ ]:
train.to_pickle(PATH/'train_clean')

## Durations

It is common when working with time series data to extract data that explains relationships across rows as opposed to columns, e.g.:
* Running averages
* Time until next event
* Time since last event

This is often difficult to do with most table manipulation frameworks, since they are designed to work with relationships across columns. As such, we've created a class to handle this type of data.

We'll define a function `get_elapsed` for cumulative counting across a sorted dataframe. Given a particular field `fld` to monitor, this function will start tracking time since the last occurrence of that field. When the field is seen again, the counter is set to zero.

Upon initialization, this will result in datetime na's until the field is encountered. This is reset every time a new store is seen. We'll see how to use this shortly.

In [ ]:
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

We'll be applying this to a subset of columns:

In [ ]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [ ]:
#df = train[columns]
df = train[columns].append(test[columns])

Let's walk through an example.

Say we're looking at School Holiday. We'll first sort by Store, then Date, and then call `add_elapsed('SchoolHoliday', 'After')`:
This will apply to each row with School Holiday:
* A applied to every row of the dataframe in order of store and date
* Will add to the dataframe the days since seeing a School Holiday
* If we sort in the other direction, this will count the days until another holiday.

In [ ]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We'll do this for two more fields.

In [ ]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [ ]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We're going to set the active index to Date.

In [ ]:
df = df.set_index("Date")

Then set null values from elapsed field calculations to 0.

In [ ]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [ ]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(0).astype(int)

Next we'll demonstrate window functions in pandas to calculate rolling quantities.

Here we're sorting by date (`sort_index()`) and counting the number of events of interest (`sum()`) defined in `columns` in the following week (`rolling()`), grouped by Store (`groupby()`). We do the same in the opposite direction.

In [ ]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [ ]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

Next we want to drop the Store indices grouped together in the window function.

Often in pandas, there is an option to do this in place. This is time and memory efficient when working with large datasets.

In [ ]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [ ]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [ ]:
df.reset_index(inplace=True)

Now we'll merge these values onto the df.

In [ ]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [ ]:
df.drop(columns,1,inplace=True)

In [ ]:
df.head()

,Date,Store,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-09-17,1,13,0,105,0,0,0,0.0,0.0,4.0,0.0,0.0,1.0
1,2015-09-16,1,12,0,104,0,0,0,0.0,0.0,3.0,0.0,0.0,2.0
2,2015-09-15,1,11,0,103,0,0,0,0.0,0.0,2.0,0.0,0.0,3.0
3,2015-09-14,1,10,0,102,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
4,2015-09-13,1,9,0,101,0,9,-1,0.0,0.0,0.0,0.0,0.0,4.0

It's usually a good idea to back up large tables of extracted / wrangled features before you join them onto another one, that way you can go back to it easily if you need to make changes to it.

In [ ]:
df.to_pickle(PATH/'df')

In [ ]:
df["Date"] = pd.to_datetime(df.Date)

In [ ]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [ ]:
joined = pd.read_pickle(PATH/'joined')
joined_test = pd.read_pickle(PATH/f'joined_test')

In [ ]:
joined = join_df(joined, df, ['Store', 'Date'])

In [ ]:
joined_test = join_df(joined_test, df, ['Store', 'Date'])

The authors also removed all instances where the store had zero sale / was closed. We speculate that this may have cost them a higher standing in the competition. One reason this may be the case is that a little exploratory data analysis reveals that there are often periods where stores are closed, typically for refurbishment. Before and after these periods, there are naturally spikes in sales that one might expect. By ommitting this data from their training, the authors gave up the ability to leverage information about these periods to predict this otherwise volatile behavior.

In [ ]:
joined = joined[joined.Sales!=0]

We'll back this up as well.

In [ ]:
joined.reset_index(inplace=True)
joined_test.reset_index(inplace=True)

In [ ]:
joined.to_pickle(PATH/'train_clean')
joined_test.to_pickle(PATH/'test_clean')